@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}
main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1024px;
    
}
.contato, .resumo, .formacao, .experiencia, .certificacoes, .habilidades, .outros, .reconhecimentos {
    padding: 15px;
    border-bottom: 1px solid black;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.sobre{
    padding: 15px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
h2{
    text-align: left;
    margin-bottom: 10px;
}
.subtitulo-secao, .subtitulo{
    margin-bottom: 10px;
}
ul{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
li{
    margin-bottom: 5px;
}
.email a, .telefone a{
    text-decoration:none;
    color: black;
    padding: 5px;
    font-weight: bold;
}
p{
    text-align: justify;
}