@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}
.contato, .resumo, .formacao, .experiencia, .certificacoes, .habilidades, .outros, .reconhecimentos, .sobre{
    margin: 0 auto;
    padding: 15px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}
h2{
    text-align: left;
    margin-bottom: 10px;
}
.subtitulo-secao, .subtitulo{
    margin-bottom: 10px;
}
ul{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
li{
    margin-bottom: 5px;
}
.email{
    font-size: 15px;
}
a{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
p{
    text-align: justify;
}